.photo-gallery {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 5px;

   /* display: flex;
   flex-wrap: wrap; */
}

.gallery-bar-section {
   display: inline-flex;
   margin: 1rem 3rem;
   gap: 3rem;
}

/* .gallery-bar-section-item {
   margin-right: 10px;
} */

.gallery-item {
   margin: 10px;
   transition: transform 0.2s;
}

.gallery-item:hover {
   transform: scale(1.05);
}

.gallery-item img {
   object-fit: cover;
   max-width: 250px;
   height: 150px;
   border: none;
   border-radius: 10px;

}

.pagination {
   margin-top: 20px;
}

.pagination button {
   margin: 0 3px;
   padding: 10px;
   border: none;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   /* color: #212EA0; */
}

.left-arrow {
   object-fit: contain;
   height: 5px;
   width: 15px;
}

.pagination button.active {
   font-weight: bold;
   background: #212EA0;
   border: 2px solid #212EA0;
   border-radius: 3px;
   color: white;
}

.pagination button:hover {
   cursor: pointer;
}

.page-nav {
   background: #6b77e9;
   display: flex;
   align-items: center;
   justify-content: center;
   /* height: 20px; */
   width: 5px;
}