.academics {
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}

.academics-title {
   text-align: center;
   color: #212EA0;
}

.academics hr {
   width: 5rem;
   height: 4px;
   margin: auto;
   margin-bottom: 2rem;
   background: #212EA0;
}

.academic-events {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}

.academic-event {
   /* background: mediumaquamarine; */
   width: 100%;
   text-align: center;
}

.academic-event img {
   object-fit: cover;
   width: inherit;
   border: none;
   border-radius: 10px;
}

.academic-event-subtitle {
   color: #000F38;
}

.academic-event-text {
   text-align: justify;
   line-height: 1.5rem;
}