.community-involvement-desc {
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 5rem 5rem 2rem 5rem;
}

.community-involvement-imgs {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
}

.community-involvement-imgs img {
   object-fit: cover;
   width: 250px;
   height: 200px;
   border: none;
   border-radius: 10px;
}